body {
	background-color: #EEE0CB;
	color: black;
	font-family: Avenir;

}

h1 {
	color: #974E4B;
	font-family: Impact;
	font-weight: 100;
	letter-spacing: 3px;
	font-size: 30px;

}

h2 {
	color: #839788;
	font-family: Impact;
	letter-spacing: 3px;
	font-size:20px;
}
a {
	text-decoration: none;
	color: #974E4B;
	font-family: Avenir;
}
a:hover {
	color: #839788;
}

/* Custom design with class (99% of the design)*/

.card-white {
	background-color: white;
	padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    margin: 20px 20px;
    text-align: center;
    }

.container {
 width: 700px;
 margin: 40px auto
}
@media(max-width: 760px) {
	.container {
       width: 600px;
     }
}
@media(max-width: 500px) {
	.container {
       width: 400px;
     }
}



.img-circle {
border-radius: 50%;
box-shadow: 0px 10px 10px rgba(0,0,0,0.9);

}
.btn-blue {
	background-color: #974E4B;
	color: white;
	padding: 10px 15px;
	border-radius: 4px;
	}
.list-inline{
list-style:none;
padding-left:none;
}
.list-inline li {
	display: inline;
	padding: 10px;
	}

.list-inline i {
	font-size: 50px
	color: #839788;
}
.list-inline i:hover {
	color: #839788;
}

/* Design adjustments with id (1% remaining) */
#introduction p {
	margin-bottom: 40px;
}






       


